body {
    margin: 0;
    font-family: 'Segoe UI';
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #c4c0c9, #2c0259);
}

.container {
    background: rgba(255,255,255,0.15);
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    color: white;
    width: 350px;
}

#clock {
    font-size: 45px;
    margin: 10px 0;
}

.date-box {
    margin-bottom: 10px;
}

button {
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.dark {
    background: linear-gradient(135deg, #000, #444);
}

.dark .container {
    background: rgba(0,0,0,0.5);
}